<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Products</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gray-100 font-sans text-gray-800 flex flex-col min-h-screen">
  <div class="flex flex-1">
    {{!-- Sidebar --}}
    {{> sideBar}}

    <main class="flex-grow bg-white">
      <!-- Header -->
      <div class="flex items-center justify-between p-5 shadow-md">
        <h1 class="font-bold text-lg">Product</h1>
        <button class="bg-blue-600 text-white py-2 px-4 rounded-lg">Admin</button>
      </div>

      <!-- Product Listing -->
      <div class="p-5">
        <div class="flex justify-between items-center mb-5">
          <h2 class="text-lg font-bold">Deleted Products</h2>
          <div class="flex items-center gap-3">

          </div>
        </div>

        <!-- Search and Filters -->
        <div class="flex items-center justify-between bg-gray-100 p-4 shadow-sm rounded-md mb-5">
          <input type="text" placeholder="Search product..." id="search" class="flex-grow border p-2 rounded-l-md">
          <div class="flex gap-3">
            <button class="bg-gray-200 px-4 py-2 rounded-r-lg " >Search</button>
          </div>
        </div>

        <!-- Product Table -->
        <div class="overflow-x-auto rounded-md shadow-md">
          <table class="min-w-full table-auto bg-white border rounded product-table">
            <thead class="bg-gray-100 text-left">
              <tr>
                <th class="py-3 px-4 text-start w-1/6">Product</th>
                <th class="py-3 px-4 text-start w-1/6">Category</th>
                <th class="py-3 px-4 text-start w-1/6">Stock</th>
                <th class="py-3 px-4 text-start w-1/6">Price</th>
                <th class="py-3 px-4 text-start w-1/6">Status</th>
                <th class="py-3 px-4 text-center w-1/6">Action</th>
              </tr>
            </thead>
            <tbody class="divide-y">
              {{#if products.length}}
                {{#each products}}
                  <tr>
                    <td class="py-3 px-4 flex items-center gap-3">
                      <img src="{{getImage this.images 0}}" class="w-10 h-10 rounded " alt="Product">
                      <span>{{this.name}}</span>
                    </td>
                    <td class="py-3 px-4">{{this.category.name}}</td>
                    <td class="py-3 px-4">{{this.stock}}</td>
                    <td class="py-3 px-4"><span class="text-red-600 font-semibold">{{this.price}}</span></td>
                    <td class="py-3 px-4">
                      {{#if (gte this.stock 11)}}
                        <span class="bg-green-200 text-green-600 px-2 py-1 rounded-lg">In Stock</span>
                      {{else}}
                        <span class="bg-red-200 text-red-600 px-2 py-1 rounded-lg">Low Stock</span>
                      {{/if}}
                    </td>
                    <td class="py-3 px-4 flex items-center justify-center gap-2">
                            <button id="undo-{{this._id}}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-400" onclick="undoDeleteProduct('{{this._id}}')">Undo Delete</button>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan="7" class="text-center py-5 text-gray-500">No deleted products found</td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-50 text-center py-4">
    <p>2024 <span class="font-bold text-blue-600">nxtTick</span>. All rights reserved</p>
  </footer>

  <script>
    document.getElementById('search').addEventListener("keyup",function() {
      const query= this.value.toLowerCase();
      const rows=document.querySelectorAll(".product-table tbody tr");

      rows.forEach(row=>{
        const name =row.querySelector('td:nth-child(1)').textContent.toLowerCase();
        if(name.includes(query)){
          row.style.display='';
        }else {
          row.style.display='none';
        }
      });
    });

    function undoDeleteProduct(productId){
        Swal.fire({
            title: `Are you sure you want to undo delete?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: `Yes, Undo it!`,
        }).then((result)=>{
            if(result.isConfirmed){
                fetch(`/admin/undo-delete-product/${productId}`,{
                    method:"POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ isDeleted: true }),
                })
                .then((response)=> response.json())
                .then((data)=>{
                    if(data.status){
                        Swal.fire({
                            icon: 'success',
                            title:"Success!",
                            text:data.message
                    }).then(() => {
                        window.location.reload(); 
                    });
                }else{
                    Swal.fire({
                        icon:'error',
                        title:"Oops...",
                        text:data.message || "Something went wrong"
                    })
                }
            })
            .catch(error =>{
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred',
                });
              })
            }
        })       
    }

 </script>

</body>
</html>    